@model ChillAndGrill.ViewModels.HomeIndexViewModel

@{
    ViewBag.Title = "Home Page";
}

<h1>All Restaurants - @DateTime.Now.Year</h1>
<table>
    @foreach (var restaurant in Model.Restaurants)
    {
        <tr>
            <td>@restaurant.Name</td>
            <td>@restaurant.Id</td>
            <td>@Html.ActionLink("Go", "Details", "Home", new { restaurant.Id })</td>
            <td>@Html.ActionLink("Edit", "Update", "Home", new { restaurant.Id })</td>
        </tr>
    }
</table>
<br />
<div>
    <button>@Html.ActionLink("Add Restaurant", "Create", "Home")</button>
</div>

@section footer{ 
    @Model.CurrentMessage
}

